robe.api/bin/*.*
robe.api/obj/*.*
robe.library/bin/*.*
robe.library/obj/*.*
robe.library/obj/Debug/net8.0/robe.library.pdb
robe.library/obj/Debug/net8.0/ref/robe.library.dll
robe.library/obj/Debug/net8.0/refint/robe.library.dll
robe.library/obj/Debug/net8.0/robe.library.GlobalUsings.g.cs
robe.library/obj/Debug/net8.0/robe.library.GeneratedMSBuildEditorConfig.editorconfig
robe.library/obj/Debug/net8.0/robe.library.dll
robe.library/obj/Debug/net8.0/robe.library.csproj.FileListAbsolute.txt
robe.library/obj/Debug/net8.0/robe.library.csproj.CoreCompileInputs.cache
robe.library/obj/Debug/net8.0/robe.library.csproj.AssemblyReference.cache
robe.library/obj/Debug/net8.0/robe.library.assets.cache
robe.library/obj/Debug/net8.0/robe.library.AssemblyInfoInputs.cache
robe.library/bin/Debug/net8.0/robe.library.deps.json
robe.library/bin/Debug/net8.0/robe.library.dll
robe.library/bin/Debug/net8.0/robe.library.pdb
robe.library/obj/project.assets.json
robe.library/obj/project.nuget.cache
robe.library/obj/robe.library.csproj.nuget.dgspec.json
robe.library/obj/robe.library.csproj.nuget.g.props
robe.library/obj/robe.library.csproj.nuget.g.targets
robe.library/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
robe.library/obj/Debug/net8.0/robe.library.AssemblyInfo.cs
robe.api/obj/Debug/net8.0/template.api.pdb
robe.api/obj/Debug/net8.0/ref/template.api.dll
robe.api/obj/Debug/net8.0/refint/template.api.dll
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.build.template.api.props
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.template.api.props
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.template.api.props
robe.api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
robe.api/obj/Debug/net8.0/apphost.exe
robe.api/obj/Debug/net8.0/robe.api.AssemblyInfo.cs
robe.api/obj/Debug/net8.0/robe.api.AssemblyInfoInputs.cache
robe.api/obj/Debug/net8.0/robe.api.assets.cache
robe.api/obj/Debug/net8.0/robe.api.csproj.AssemblyReference.cache
robe.api/obj/Debug/net8.0/robe.api.csproj.CopyComplete
robe.api/obj/Debug/net8.0/robe.api.csproj.CoreCompileInputs.cache
robe.api/obj/Debug/net8.0/robe.api.csproj.FileListAbsolute.txt
robe.api/obj/Debug/net8.0/robe.api.GeneratedMSBuildEditorConfig.editorconfig
robe.api/obj/Debug/net8.0/robe.api.genruntimeconfig.cache
robe.api/obj/Debug/net8.0/staticwebassets.build.json
robe.api/obj/Debug/net8.0/template.api.dll
robe.api/obj/Debug/net8.0/template.api.MvcApplicationPartsAssemblyInfo.cache
robe.api/obj/Debug/net8.0/template.api.MvcApplicationPartsAssemblyInfo.cs
robe.api/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.api/obj/Debug/net7.0/apphost.exe
robe.api/obj/Debug/net7.0/robe.api.AssemblyInfo.cs
robe.api/obj/Debug/net7.0/robe.api.AssemblyInfoInputs.cache
robe.api/obj/Debug/net7.0/robe.api.assets.cache
robe.api/obj/Debug/net7.0/robe.api.csproj.AssemblyReference.cache
robe.api/obj/Debug/net7.0/robe.api.csproj.CopyComplete
robe.api/obj/Debug/net7.0/robe.api.csproj.CoreCompileInputs.cache
robe.api/obj/Debug/net7.0/robe.api.csproj.FileListAbsolute.txt
robe.api/obj/Debug/net7.0/Robe.Api.dll
robe.api/obj/Debug/net7.0/robe.api.GeneratedMSBuildEditorConfig.editorconfig
robe.api/obj/Debug/net7.0/robe.api.genruntimeconfig.cache
robe.api/obj/Debug/net7.0/robe.api.GlobalUsings.g.cs
robe.api/obj/Debug/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cache
robe.api/obj/Debug/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cs
robe.api/obj/Debug/net7.0/Robe.Api.pdb
robe.api/obj/Debug/net7.0/staticwebassets.build.json
robe.api/obj/Debug/net7.0/ref/Robe.Api.dll
robe.api/obj/Debug/net7.0/refint/Robe.Api.dll
robe.api/obj/Debug/net7.0/staticwebassets/msbuild.build.Robe.Api.props
robe.api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Robe.Api.props
robe.api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Robe.Api.props
robe.api.tests/bin/Debug/net7.0/CoverletSourceRootsMapping
robe.api.tests/obj/project.assets.json
robe.api.tests/obj/project.nuget.cache
robe.api.tests/obj/robe.api.tests.csproj.nuget.dgspec.json
robe.api.tests/obj/robe.api.tests.csproj.nuget.g.props
robe.api.tests/obj/robe.api.tests.csproj.nuget.g.targets
robe.api.tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.api.tests/obj/Debug/net7.0/MvcTestingAppManifest.json
robe.api.tests/obj/Debug/net7.0/robe.api.tests.AssemblyInfo.cs
robe.api.tests/obj/Debug/net7.0/robe.api.tests.AssemblyInfoInputs.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.assets.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.AssemblyReference.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.CopyComplete
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.CoreCompileInputs.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.FileListAbsolute.txt
robe.api.tests/obj/Debug/net7.0/robe.api.tests.dll
robe.api.tests/obj/Debug/net7.0/robe.api.tests.GeneratedMSBuildEditorConfig.editorconfig
robe.api.tests/obj/Debug/net7.0/robe.api.tests.genruntimeconfig.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.GlobalUsings.g.cs
robe.api.tests/obj/Debug/net7.0/robe.api.tests.pdb
robe.api.tests/obj/Debug/net7.0/ref/robe.api.tests.dll
robe.api.tests/obj/Debug/net7.0/refint/robe.api.tests.dll
robe.core/obj/project.assets.json
robe.core/obj/project.nuget.cache
robe.core/obj/robe.core.csproj.nuget.dgspec.json
robe.core/obj/robe.core.csproj.nuget.g.props
robe.core/obj/robe.core.csproj.nuget.g.targets
robe.core/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.core/obj/Debug/net7.0/robe.core.AssemblyInfo.cs
robe.core/obj/Debug/net7.0/robe.core.AssemblyInfoInputs.cache
robe.core/obj/Debug/net7.0/robe.core.assets.cache
robe.core/obj/Debug/net7.0/robe.core.csproj.AssemblyReference.cache
robe.core/obj/Debug/net7.0/robe.core.csproj.CoreCompileInputs.cache
robe.core/obj/Debug/net7.0/robe.core.csproj.FileListAbsolute.txt
robe.core/obj/Debug/net7.0/Robe.Core.dll
robe.core/obj/Debug/net7.0/robe.core.GeneratedMSBuildEditorConfig.editorconfig
robe.core/obj/Debug/net7.0/robe.core.GlobalUsings.g.cs
robe.core/obj/Debug/net7.0/Robe.Core.pdb
robe.core/obj/Debug/net7.0/ref/Robe.Core.dll
robe.core/obj/Debug/net7.0/refint/Robe.Core.dll
robe.infrastructure/obj/project.assets.json
robe.infrastructure/obj/project.nuget.cache
robe.infrastructure/obj/robe.infrastructure.csproj.nuget.dgspec.json
robe.infrastructure/obj/robe.infrastructure.csproj.nuget.g.props
robe.infrastructure/obj/robe.infrastructure.csproj.nuget.g.targets
robe.infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.AssemblyInfo.cs
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.AssemblyInfoInputs.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.assets.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.AssemblyReference.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.CopyComplete
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.CoreCompileInputs.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.FileListAbsolute.txt
robe.infrastructure/obj/Debug/net7.0/Robe.Infrastructure.dll
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.GlobalUsings.g.cs
robe.infrastructure/obj/Debug/net7.0/Robe.Infrastructure.pdb
robe.infrastructure/obj/Debug/net7.0/ref/Robe.Infrastructure.dll
robe.infrastructure/obj/Debug/net7.0/refint/Robe.Infrastructure.dll
robe.api/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.api/obj/Release/net7.0/apphost.exe
robe.api/obj/Release/net7.0/PublishOutputs.19fe19583d.txt
robe.api/obj/Release/net7.0/robe.api.AssemblyInfo.cs
robe.api/obj/Release/net7.0/robe.api.AssemblyInfoInputs.cache
robe.api/obj/Release/net7.0/robe.api.assets.cache
robe.api/obj/Release/net7.0/robe.api.csproj.AssemblyReference.cache
robe.api/obj/Release/net7.0/robe.api.csproj.CopyComplete
robe.api/obj/Release/net7.0/robe.api.csproj.CoreCompileInputs.cache
robe.api/obj/Release/net7.0/robe.api.csproj.FileListAbsolute.txt
robe.api/obj/Release/net7.0/Robe.Api.dll
robe.api/obj/Release/net7.0/robe.api.GeneratedMSBuildEditorConfig.editorconfig
robe.api/obj/Release/net7.0/robe.api.genruntimeconfig.cache
robe.api/obj/Release/net7.0/robe.api.GlobalUsings.g.cs
robe.api/obj/Release/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cache
robe.api/obj/Release/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cs
robe.api/obj/Release/net7.0/Robe.Api.pdb
robe.api/obj/Release/net7.0/Robe.Api.xml
robe.api/obj/Release/net7.0/staticwebassets.build.json
robe.api/obj/Release/net7.0/staticwebassets.publish.json
robe.api/obj/Release/net7.0/ref/Robe.Api.dll
robe.api/obj/Release/net7.0/refint/Robe.Api.dll
robe.api/obj/Release/net7.0/staticwebassets/msbuild.build.Robe.Api.props
robe.api/obj/Release/net7.0/staticwebassets/msbuild.buildMultiTargeting.Robe.Api.props
robe.api/obj/Release/net7.0/staticwebassets/msbuild.buildTransitive.Robe.Api.props
robe.core/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.core/obj/Release/net7.0/robe.core.AssemblyInfo.cs
robe.core/obj/Release/net7.0/robe.core.AssemblyInfoInputs.cache
robe.core/obj/Release/net7.0/robe.core.assets.cache
robe.core/obj/Release/net7.0/robe.core.csproj.AssemblyReference.cache
robe.core/obj/Release/net7.0/robe.core.csproj.CoreCompileInputs.cache
robe.core/obj/Release/net7.0/robe.core.csproj.FileListAbsolute.txt
robe.core/obj/Release/net7.0/Robe.Core.dll
robe.core/obj/Release/net7.0/robe.core.GeneratedMSBuildEditorConfig.editorconfig
robe.core/obj/Release/net7.0/robe.core.GlobalUsings.g.cs
robe.core/obj/Release/net7.0/Robe.Core.pdb
robe.core/obj/Release/net7.0/ref/Robe.Core.dll
robe.core/obj/Release/net7.0/refint/Robe.Core.dll
robe.infrastructure/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.AssemblyInfo.cs
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.AssemblyInfoInputs.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.assets.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.AssemblyReference.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.CopyComplete
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.CoreCompileInputs.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.FileListAbsolute.txt
robe.infrastructure/obj/Release/net7.0/Robe.Infrastructure.dll
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.GlobalUsings.g.cs
robe.infrastructure/obj/Release/net7.0/Robe.Infrastructure.pdb
robe.infrastructure/obj/Release/net7.0/ref/Robe.Infrastructure.dll
robe.infrastructure/obj/Release/net7.0/refint/Robe.Infrastructure.dll
robe.api/obj/Release/net7.0/PublishOutputs.a5b99a1724.txt
robe.api/obj/Release/net7.0/PublishOutputs.d79da6ccec.txt
robe.api/obj/Release/net7.0/PublishOutputs.0c2c591ae1.txt
robe.api/obj/Release/net7.0/PublishOutputs.893e30c8d6.txt
robe.api/obj/Release/net7.0/PublishOutputs.5108bc302e.txt
vestra/apps/web/out/404.html
vestra/apps/web/out/index.html
vestra/apps/web/out/index.txt
vestra/apps/web/out/login.html
vestra/apps/web/out/login.txt
vestra/apps/web/out/profile.html
vestra/apps/web/out/profile.txt
vestra/apps/web/out/shop.html
vestra/apps/web/out/shop.txt
vestra/apps/web/out/staticwebapp.config.json
vestra/apps/web/out/wardrobe.html
vestra/apps/web/out/wardrobe.txt
vestra/apps/web/out/_next/static/chunks/148-9d98183930953a90.js
vestra/apps/web/out/_next/static/chunks/261-f05c354113a9f091.js
vestra/apps/web/out/_next/static/chunks/701-f8f73a751546783d.js
vestra/apps/web/out/_next/static/chunks/771-a387cc88ab6a56ae.js
vestra/apps/web/out/_next/static/chunks/941-6e04c547a26c388d.js
vestra/apps/web/out/_next/static/chunks/19887b5c-a446d82f14419768.js
vestra/apps/web/out/_next/static/chunks/framework-bef83a85c94ff7de.js
vestra/apps/web/out/_next/static/chunks/main-app-550c6c0b71060f5f.js
vestra/apps/web/out/_next/static/chunks/main-fe7ecba84931fc84.js
vestra/apps/web/out/_next/static/chunks/polyfills-42372ed130431b0a.js
vestra/apps/web/out/_next/static/chunks/webpack-32abb73b69fc397d.js
vestra/apps/web/out/_next/static/chunks/app/layout-458c7f5594bedfa5.js
vestra/apps/web/out/_next/static/chunks/app/page-94ce29d97fd9a6fa.js
vestra/apps/web/out/_next/static/chunks/app/_not-found/page-02f0b6e6e3bd37d6.js
vestra/apps/web/out/_next/static/chunks/app/auth/blank/page-b496ec34a4f84fd3.js
vestra/apps/web/out/_next/static/chunks/app/login/page-66bd4212bda64068.js
vestra/apps/web/out/_next/static/chunks/app/profile/layout-9e74de83ed9825ad.js
vestra/apps/web/out/_next/static/chunks/app/profile/page-3552207be790f07e.js
vestra/apps/web/out/_next/static/chunks/app/shop/layout-f4cefd2f617ccfde.js
vestra/apps/web/out/_next/static/chunks/app/shop/page-86b06de78b918ff8.js
vestra/apps/web/out/_next/static/chunks/app/wardrobe/layout-70c930f06905ca0c.js
vestra/apps/web/out/_next/static/chunks/app/wardrobe/page-f4498e0e2d196977.js
vestra/apps/web/out/_next/static/chunks/app/wardrobe/\[id]/page-a1219c64e2074107.js
vestra/apps/web/out/_next/static/chunks/pages/_app-6416b192eaefe257.js
vestra/apps/web/out/_next/static/chunks/pages/_error-f7fc41cc2ff98ad5.js
vestra/apps/web/out/_next/static/css/c15c669eb209f17d.css
vestra/apps/web/out/_next/static/media/fraunces-latin-400-normal.28b1a958.woff
vestra/apps/web/out/_next/static/media/fraunces-latin-400-normal.361dab65.woff2
vestra/apps/web/out/_next/static/media/fraunces-latin-ext-400-normal.3de5a07a.woff
vestra/apps/web/out/_next/static/media/fraunces-latin-ext-400-normal.742ba392.woff2
vestra/apps/web/out/_next/static/media/fraunces-vietnamese-400-normal.8cbc399f.woff
vestra/apps/web/out/_next/static/media/fraunces-vietnamese-400-normal.fbcbfbfd.woff2
vestra/apps/web/out/_next/static/media/hanken-grotesk-cyrillic-ext-400-normal.3d645d9b.woff2
vestra/apps/web/out/_next/static/media/hanken-grotesk-cyrillic-ext-400-normal.30befb74.woff
vestra/apps/web/out/_next/static/media/hanken-grotesk-latin-400-normal.5e6bae5f.woff2
vestra/apps/web/out/_next/static/media/hanken-grotesk-latin-400-normal.df487ec0.woff
vestra/apps/web/out/_next/static/media/hanken-grotesk-latin-ext-400-normal.4f947463.woff
vestra/apps/web/out/_next/static/media/hanken-grotesk-latin-ext-400-normal.730a9b4e.woff2
vestra/apps/web/out/_next/static/media/hanken-grotesk-vietnamese-400-normal.3bc1695f.woff2
vestra/apps/web/out/_next/static/media/hanken-grotesk-vietnamese-400-normal.187168b5.woff
vestra/apps/web/out/_next/static/XBF5-L7YajpyFp2t2m5fk/_buildManifest.js
vestra/apps/web/out/_next/static/XBF5-L7YajpyFp2t2m5fk/_ssgManifest.js
vestra/apps/web/out/auth/blank.html
vestra/apps/web/out/auth/blank.txt
vestra/apps/web/out/wardrobe/_.html
vestra/apps/web/out/wardrobe/_.txt
