robe.api/bin/*.*
robe.api/obj/*.*
robe.library/bin/*.*
robe.library/obj/*.*
robe.library/obj/Debug/net8.0/robe.library.pdb
robe.library/obj/Debug/net8.0/ref/robe.library.dll
robe.library/obj/Debug/net8.0/refint/robe.library.dll
robe.library/obj/Debug/net8.0/robe.library.GlobalUsings.g.cs
robe.library/obj/Debug/net8.0/robe.library.GeneratedMSBuildEditorConfig.editorconfig
robe.library/obj/Debug/net8.0/robe.library.dll
robe.library/obj/Debug/net8.0/robe.library.csproj.FileListAbsolute.txt
robe.library/obj/Debug/net8.0/robe.library.csproj.CoreCompileInputs.cache
robe.library/obj/Debug/net8.0/robe.library.csproj.AssemblyReference.cache
robe.library/obj/Debug/net8.0/robe.library.assets.cache
robe.library/obj/Debug/net8.0/robe.library.AssemblyInfoInputs.cache
robe.library/bin/Debug/net8.0/robe.library.deps.json
robe.library/bin/Debug/net8.0/robe.library.dll
robe.library/bin/Debug/net8.0/robe.library.pdb
robe.library/obj/project.assets.json
robe.library/obj/project.nuget.cache
robe.library/obj/robe.library.csproj.nuget.dgspec.json
robe.library/obj/robe.library.csproj.nuget.g.props
robe.library/obj/robe.library.csproj.nuget.g.targets
robe.library/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
robe.library/obj/Debug/net8.0/robe.library.AssemblyInfo.cs
robe.api/obj/Debug/net8.0/template.api.pdb
robe.api/obj/Debug/net8.0/ref/template.api.dll
robe.api/obj/Debug/net8.0/refint/template.api.dll
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.build.template.api.props
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.template.api.props
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.template.api.props
robe.api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
robe.api/obj/Debug/net8.0/apphost.exe
robe.api/obj/Debug/net8.0/robe.api.AssemblyInfo.cs
robe.api/obj/Debug/net8.0/robe.api.AssemblyInfoInputs.cache
robe.api/obj/Debug/net8.0/robe.api.assets.cache
robe.api/obj/Debug/net8.0/robe.api.csproj.AssemblyReference.cache
robe.api/obj/Debug/net8.0/robe.api.csproj.CopyComplete
robe.api/obj/Debug/net8.0/robe.api.csproj.CoreCompileInputs.cache
robe.api/obj/Debug/net8.0/robe.api.csproj.FileListAbsolute.txt
robe.api/obj/Debug/net8.0/robe.api.GeneratedMSBuildEditorConfig.editorconfig
robe.api/obj/Debug/net8.0/robe.api.genruntimeconfig.cache
robe.api/obj/Debug/net8.0/staticwebassets.build.json
robe.api/obj/Debug/net8.0/template.api.dll
robe.api/obj/Debug/net8.0/template.api.MvcApplicationPartsAssemblyInfo.cache
robe.api/obj/Debug/net8.0/template.api.MvcApplicationPartsAssemblyInfo.cs
robe.api/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.api/obj/Debug/net7.0/apphost.exe
robe.api/obj/Debug/net7.0/robe.api.AssemblyInfo.cs
robe.api/obj/Debug/net7.0/robe.api.AssemblyInfoInputs.cache
robe.api/obj/Debug/net7.0/robe.api.assets.cache
robe.api/obj/Debug/net7.0/robe.api.csproj.AssemblyReference.cache
robe.api/obj/Debug/net7.0/robe.api.csproj.CopyComplete
robe.api/obj/Debug/net7.0/robe.api.csproj.CoreCompileInputs.cache
robe.api/obj/Debug/net7.0/robe.api.csproj.FileListAbsolute.txt
robe.api/obj/Debug/net7.0/Robe.Api.dll
robe.api/obj/Debug/net7.0/robe.api.GeneratedMSBuildEditorConfig.editorconfig
robe.api/obj/Debug/net7.0/robe.api.genruntimeconfig.cache
robe.api/obj/Debug/net7.0/robe.api.GlobalUsings.g.cs
robe.api/obj/Debug/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cache
robe.api/obj/Debug/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cs
robe.api/obj/Debug/net7.0/Robe.Api.pdb
robe.api/obj/Debug/net7.0/staticwebassets.build.json
robe.api/obj/Debug/net7.0/ref/Robe.Api.dll
robe.api/obj/Debug/net7.0/refint/Robe.Api.dll
robe.api/obj/Debug/net7.0/staticwebassets/msbuild.build.Robe.Api.props
robe.api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Robe.Api.props
robe.api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Robe.Api.props
robe.api.tests/bin/Debug/net7.0/CoverletSourceRootsMapping
robe.api.tests/obj/project.assets.json
robe.api.tests/obj/project.nuget.cache
robe.api.tests/obj/robe.api.tests.csproj.nuget.dgspec.json
robe.api.tests/obj/robe.api.tests.csproj.nuget.g.props
robe.api.tests/obj/robe.api.tests.csproj.nuget.g.targets
robe.api.tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.api.tests/obj/Debug/net7.0/MvcTestingAppManifest.json
robe.api.tests/obj/Debug/net7.0/robe.api.tests.AssemblyInfo.cs
robe.api.tests/obj/Debug/net7.0/robe.api.tests.AssemblyInfoInputs.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.assets.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.AssemblyReference.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.CopyComplete
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.CoreCompileInputs.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.csproj.FileListAbsolute.txt
robe.api.tests/obj/Debug/net7.0/robe.api.tests.dll
robe.api.tests/obj/Debug/net7.0/robe.api.tests.GeneratedMSBuildEditorConfig.editorconfig
robe.api.tests/obj/Debug/net7.0/robe.api.tests.genruntimeconfig.cache
robe.api.tests/obj/Debug/net7.0/robe.api.tests.GlobalUsings.g.cs
robe.api.tests/obj/Debug/net7.0/robe.api.tests.pdb
robe.api.tests/obj/Debug/net7.0/ref/robe.api.tests.dll
robe.api.tests/obj/Debug/net7.0/refint/robe.api.tests.dll
robe.core/obj/project.assets.json
robe.core/obj/project.nuget.cache
robe.core/obj/robe.core.csproj.nuget.dgspec.json
robe.core/obj/robe.core.csproj.nuget.g.props
robe.core/obj/robe.core.csproj.nuget.g.targets
robe.core/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.core/obj/Debug/net7.0/robe.core.AssemblyInfo.cs
robe.core/obj/Debug/net7.0/robe.core.AssemblyInfoInputs.cache
robe.core/obj/Debug/net7.0/robe.core.assets.cache
robe.core/obj/Debug/net7.0/robe.core.csproj.AssemblyReference.cache
robe.core/obj/Debug/net7.0/robe.core.csproj.CoreCompileInputs.cache
robe.core/obj/Debug/net7.0/robe.core.csproj.FileListAbsolute.txt
robe.core/obj/Debug/net7.0/Robe.Core.dll
robe.core/obj/Debug/net7.0/robe.core.GeneratedMSBuildEditorConfig.editorconfig
robe.core/obj/Debug/net7.0/robe.core.GlobalUsings.g.cs
robe.core/obj/Debug/net7.0/Robe.Core.pdb
robe.core/obj/Debug/net7.0/ref/Robe.Core.dll
robe.core/obj/Debug/net7.0/refint/Robe.Core.dll
robe.infrastructure/obj/project.assets.json
robe.infrastructure/obj/project.nuget.cache
robe.infrastructure/obj/robe.infrastructure.csproj.nuget.dgspec.json
robe.infrastructure/obj/robe.infrastructure.csproj.nuget.g.props
robe.infrastructure/obj/robe.infrastructure.csproj.nuget.g.targets
robe.infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.AssemblyInfo.cs
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.AssemblyInfoInputs.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.assets.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.AssemblyReference.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.CopyComplete
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.CoreCompileInputs.cache
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.csproj.FileListAbsolute.txt
robe.infrastructure/obj/Debug/net7.0/Robe.Infrastructure.dll
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
robe.infrastructure/obj/Debug/net7.0/robe.infrastructure.GlobalUsings.g.cs
robe.infrastructure/obj/Debug/net7.0/Robe.Infrastructure.pdb
robe.infrastructure/obj/Debug/net7.0/ref/Robe.Infrastructure.dll
robe.infrastructure/obj/Debug/net7.0/refint/Robe.Infrastructure.dll
robe.api/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.api/obj/Release/net7.0/apphost.exe
robe.api/obj/Release/net7.0/PublishOutputs.19fe19583d.txt
robe.api/obj/Release/net7.0/robe.api.AssemblyInfo.cs
robe.api/obj/Release/net7.0/robe.api.AssemblyInfoInputs.cache
robe.api/obj/Release/net7.0/robe.api.assets.cache
robe.api/obj/Release/net7.0/robe.api.csproj.AssemblyReference.cache
robe.api/obj/Release/net7.0/robe.api.csproj.CopyComplete
robe.api/obj/Release/net7.0/robe.api.csproj.CoreCompileInputs.cache
robe.api/obj/Release/net7.0/robe.api.csproj.FileListAbsolute.txt
robe.api/obj/Release/net7.0/Robe.Api.dll
robe.api/obj/Release/net7.0/robe.api.GeneratedMSBuildEditorConfig.editorconfig
robe.api/obj/Release/net7.0/robe.api.genruntimeconfig.cache
robe.api/obj/Release/net7.0/robe.api.GlobalUsings.g.cs
robe.api/obj/Release/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cache
robe.api/obj/Release/net7.0/Robe.Api.MvcApplicationPartsAssemblyInfo.cs
robe.api/obj/Release/net7.0/Robe.Api.pdb
robe.api/obj/Release/net7.0/Robe.Api.xml
robe.api/obj/Release/net7.0/staticwebassets.build.json
robe.api/obj/Release/net7.0/staticwebassets.publish.json
robe.api/obj/Release/net7.0/ref/Robe.Api.dll
robe.api/obj/Release/net7.0/refint/Robe.Api.dll
robe.api/obj/Release/net7.0/staticwebassets/msbuild.build.Robe.Api.props
robe.api/obj/Release/net7.0/staticwebassets/msbuild.buildMultiTargeting.Robe.Api.props
robe.api/obj/Release/net7.0/staticwebassets/msbuild.buildTransitive.Robe.Api.props
robe.core/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.core/obj/Release/net7.0/robe.core.AssemblyInfo.cs
robe.core/obj/Release/net7.0/robe.core.AssemblyInfoInputs.cache
robe.core/obj/Release/net7.0/robe.core.assets.cache
robe.core/obj/Release/net7.0/robe.core.csproj.AssemblyReference.cache
robe.core/obj/Release/net7.0/robe.core.csproj.CoreCompileInputs.cache
robe.core/obj/Release/net7.0/robe.core.csproj.FileListAbsolute.txt
robe.core/obj/Release/net7.0/Robe.Core.dll
robe.core/obj/Release/net7.0/robe.core.GeneratedMSBuildEditorConfig.editorconfig
robe.core/obj/Release/net7.0/robe.core.GlobalUsings.g.cs
robe.core/obj/Release/net7.0/Robe.Core.pdb
robe.core/obj/Release/net7.0/ref/Robe.Core.dll
robe.core/obj/Release/net7.0/refint/Robe.Core.dll
robe.infrastructure/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.AssemblyInfo.cs
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.AssemblyInfoInputs.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.assets.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.AssemblyReference.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.CopyComplete
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.CoreCompileInputs.cache
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.csproj.FileListAbsolute.txt
robe.infrastructure/obj/Release/net7.0/Robe.Infrastructure.dll
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
robe.infrastructure/obj/Release/net7.0/robe.infrastructure.GlobalUsings.g.cs
robe.infrastructure/obj/Release/net7.0/Robe.Infrastructure.pdb
robe.infrastructure/obj/Release/net7.0/ref/Robe.Infrastructure.dll
robe.infrastructure/obj/Release/net7.0/refint/Robe.Infrastructure.dll
