robe.api/bin/Debug/*.*
robe.api/obj/*.*
robe.library/obj/Debug/net8.0/robe.library.pdb
robe.library/obj/Debug/net8.0/ref/robe.library.dll
robe.library/obj/Debug/net8.0/refint/robe.library.dll
robe.library/obj/Debug/net8.0/robe.library.GlobalUsings.g.cs
robe.library/obj/Debug/net8.0/robe.library.GeneratedMSBuildEditorConfig.editorconfig
robe.library/obj/Debug/net8.0/robe.library.dll
robe.library/obj/Debug/net8.0/robe.library.csproj.FileListAbsolute.txt
robe.library/obj/Debug/net8.0/robe.library.csproj.CoreCompileInputs.cache
robe.library/obj/Debug/net8.0/robe.library.csproj.AssemblyReference.cache
robe.library/obj/Debug/net8.0/robe.library.assets.cache
robe.library/obj/Debug/net8.0/robe.library.AssemblyInfoInputs.cache
robe.library/bin/Debug/net8.0/robe.library.deps.json
robe.library/bin/Debug/net8.0/robe.library.dll
robe.library/bin/Debug/net8.0/robe.library.pdb
robe.library/obj/project.assets.json
robe.library/obj/project.nuget.cache
robe.library/obj/robe.library.csproj.nuget.dgspec.json
robe.library/obj/robe.library.csproj.nuget.g.props
robe.library/obj/robe.library.csproj.nuget.g.targets
robe.library/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
robe.library/obj/Debug/net8.0/robe.library.AssemblyInfo.cs
robe.api/obj/Debug/net8.0/template.api.pdb
robe.api/obj/Debug/net8.0/ref/template.api.dll
robe.api/obj/Debug/net8.0/refint/template.api.dll
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.build.template.api.props
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.template.api.props
robe.api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.template.api.props
